<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/todo.js"></script>
    <title>To do App</title>
</head>

<body onload="showTodo()">
    <div><input type="text" id="todo"><button onclick="addTodo(document.getElementById('todo').value)"
            style="margin-left: 10px;">Add to do</button></div>
    <div id="todoList"></div>
</body>

</html>